<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @student.parent.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher.name %>
</p>

<h2> Assignments and Grades </h2>
  <% if @student.grades.any? %>
    <ul>
        <% @student.grades.each do |grade|%>
        <li> <%= link_to grade.score, grade_path %></li>
        <%end  %>
    </ul>
  <% end %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
