<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<% if @teacher.students.any? %>
  <h2> Assignments and Grades </h2>
  <ul>
    <% @teacher.students.each do |s| %>
      <h3><%= s.name %></h3>
      <% s.grades.each do |grade|%>

        <li><%= link_to grade.assignment.name, assignment_path %>:       <%= link_to grade.score, grade_path %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
