<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <h1>New Student</h1>
  <%= f.fields_for :students do |student| %>
    <div class="student_fields">
      <div class="field">
        <%= student.label :name %><br>
        <%= student.text_field :name %>
      </div>
      <div class="field">
        <%= student.label :email %><br>
        <%= student.text_field :email %>
      </div><div class="field">
        <%= student.label :password %><br>
        <%= student.password_field :password %>
      </div>
      </div><div class="field">
        <%= student.label :password_confirmation %><br>
        <%= student.password_field :password_confirmation %>
      </div>
      <div class="field">
        <%= student.label :teacher_id %><br>
        <%= student.collection_select :teacher_id, Teacher.all, :id, :name %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
