<h1><%= @parent.name %></h1>
<ul>
  <% if @parent.students.any? %>
    <% @parent.students.each do |s| %>
      <h2> <%= s.name %> </h2>
        <p>Instructor:<strong> <%= s.teacher.name %></strong></p>
        <% s.grades.each do |g| %>
          <li><%= g.assignment.name %>:       <%= g.score %></li>
        <% end %>
    <% end %>
  <% end %>
</ul>
<br>

<br>
