<!DOCTYPE html>
<html>
<head>
  <title>NestedGradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="current">
    <% if current_user %>
      Hello <%= current_user.name %>
      <%= link_to "Log Out", logout_path %>
    <% end %>
  </div><br>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert -#{key}") do %>
        <p> <%= value %> </p>
        <% end %>
    <% end %>

<%= yield %>
</body>
</html>
